{{#each plots as |plot|}}
  {{log plot}}

  <!-- <section data-id="{{plot.id}}">
    <div>
      <h1 data-id="{{plot.id}}"> <small>Title: {{plot.name}}</small></h1>
    </div>
  </section> -->

  <div data-id={{plot.id}} class="plot">
    <div id="plot-title" class="plot-title"><h6>{{plot.name}}</h6></div>
    <div id="plant-holder" class="plant-holder row">
      <div class="plant"></div>
      <div class="plant"></div>
      <div class="plant"></div>
      <div class="plant"></div>
    </div>
  </div>

{{/each}}
