<div class="modal-header">
  <h5 class="modal-title" id="OnePlotModalLabel">{{plot.name}}</h5><button id='name-edit' type="button" class="btn border">edit</button>
  <button type="button" class="close dismiss" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&otimes;</span>
  </button>
</div>
<div id="plant-holder" class="plant-holder row">
  {{#each plants as |plant| }}
    <div class="plant">{{plant.name}}</div>
  {{/each}}
</div>
<section data-id={{plot.id}} id='one-plot' class="modal-body">
  <div>
    <button id='addPlant' class='btn btn-secondary'>Add Corn!</button>
  </div>
    <div class='hidden edit-plot edit-plot-name-edit'>
      <form id="name">
        <input class='' name="plot[name]" type="text"><input type="submit" value='Confirm'>
      </form>
    </div>
  <!-- <div> -->
    <div>
      <h6 class="align-self-center">Size: {{plot.size}}</h6>
      <button id='size-edit' type="button" class="btn border">edit</button>
    </div>
    <div class='hidden edit-plot edit-plot-size-edit'>
      <form id="size">
        <input class='' name="plot[size]" type="text">
        <input type="submit" value='Confirm'>
      </form>
    </div>
    <div class='w-100'></div>
    <div>
      <h6 class="align-self-center">Brightness: {{plot.brightness}}</h6>
      <button id='brightness-edit' type="button" class="btn border">edit</button>
    </div>
    <div class='hidden edit-plot edit-plot-brightness-edit'>
      <form id="brightness">
        <input class='' name="plot[brightness]" type="text">
        <input type="submit" value='Confirm'>
      </form>
    </div>
    <div class='w-100'></div>
    <div>
      <h6 class="align-self-center">Climate: {{plot.climate}}</h6>
      <button id='climate-edit' type="button" class="btn border">edit</button>
    </div>
    <div class='hidden edit-plot edit-plot-climate-edit'>
      <form id="climate">
        <input class='' name="plot[climate]" type="text">
        <input type="submit" value='Confirm'>
      </form>
    </div>
    <div class='w-100'></div>
    <div>
      <h6 class="align-self-center">Notes: {{plot.notes}}</h6>
      <button id='notes-edit' type="button" class="btn border">edit</button>
    </div>
    <div class='hidden edit-plot edit-plot-notes-edit'>
      <form id="notes"><input class='' name="plot[notes]" type="text">
        <input type="submit" value='Confirm'>
      </form>
    </div>
    <div class='w-100'></div>
    <div>
      <button data-name={{plot.name}} id="delete-plot" class="btn btn-danger">Delete Plot</button>
    </div>
  <!-- </div> -->

</section>
<div class="modal-footer">
  <!-- <div><button id="delete-plot" class="btn btn-danger">Delete Plot</button></div> -->
  <button type="button" class="btn btn-secondary dismiss" data-dismiss="modal">Close</button>
</div>
